@charset "utf-8";

body {
    background-color: #000000;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

header {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    padding: 60px 20px 20px 20px;
    font-weight: bold;
    font-size: 30px;
    background-image: url(imagenes/saibanerazul.jpg);
    height: 52px;
    color: #ffffff;
    background-color: #ff0000;
}

header a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
}

header a:hover {
  text-decoration: underline;
}

.principal {
    width: 1024px;
    margin: 0 auto;
    background-color: #77CEDC;
}

.banner-blurry {
    background-image: url(imagenes/saibanner.jpg);
    background-size: cover;
    background-position: center;
    height: 532px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-blurry {
    font-family: Impact, sans-serif;
    font-size: 143px;
    color: #ffffff;
    padding-top: 220px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 0px;
    border-radius: 10px;
    margin-top: -185px;
    text-align: center;
}

.texto-blurry {
    text-align: justify;
    font-size: 22px;
    padding: 0px 40px;
    line-height: 1.6;
    color: #ffffff;
    margin-top: 17px;
}

.texto-blurry .resaltado {
    color: #F366AA;
    font-weight: bold;
}

.galeria-blurry {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 50px;
}

.galeria-blurry img {
  width: 100%;
  border-radius: 10px;
}

footer {
    background-color: #F366AA;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-size: 14px;
}

.redes {
  margin-bottom: 10px;
}

.redes img {
    width: 70px;
    margin: 0 10px;
}
